
Northwind.Products.API/bin/Debug/net5.0/appsettings.Development.json
Northwind.Products.API/bin/Debug/net5.0/appsettings.json
Northwind.Products.API/bin/Debug/net5.0/MediatR.dll
Northwind.Products.API/bin/Debug/net5.0/MediatR.Extensions.Microsoft.DependencyInjection.dll
Northwind.Products.API/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
Northwind.Products.API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
Northwind.Products.API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
Northwind.Products.API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.InMemory.dll
Northwind.Products.API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
Northwind.Products.API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
Northwind.Products.API/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
Northwind.Products.API/bin/Debug/net5.0/Microsoft.Identity.Client.dll
Northwind.Products.API/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
Northwind.Products.API/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
Northwind.Products.API/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
Northwind.Products.API/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
Northwind.Products.API/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
Northwind.Products.API/bin/Debug/net5.0/Newtonsoft.Json.dll
Northwind.Products.API/bin/Debug/net5.0/Northwind.Products.API.deps.json
Northwind.Products.API/bin/Debug/net5.0/Northwind.Products.API.dll
Northwind.Products.API/bin/Debug/net5.0/Northwind.Products.API.exe
Northwind.Products.API/bin/Debug/net5.0/Northwind.Products.API.pdb
Northwind.Products.API/bin/Debug/net5.0/Northwind.Products.API.runtimeconfig.dev.json
Northwind.Products.API/bin/Debug/net5.0/Northwind.Products.API.runtimeconfig.json
Northwind.Products.API/bin/Debug/net5.0/Northwind.Products.API.Views.dll
Northwind.Products.API/bin/Debug/net5.0/Northwind.Products.Domain.dll
Northwind.Products.API/bin/Debug/net5.0/Northwind.Products.Domain.pdb
Northwind.Products.API/bin/Debug/net5.0/Northwind.Products.Service.dll
Northwind.Products.API/bin/Debug/net5.0/Northwind.Products.Service.pdb
Northwind.Products.API/bin/Debug/net5.0/ref/Northwind.Products.API.dll
Northwind.Products.API/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
Northwind.Products.API/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
Northwind.Products.API/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
Northwind.Products.API/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
Northwind.Products.API/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
Northwind.Products.API/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
Northwind.Products.API/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
Northwind.Products.API/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
Northwind.Products.API/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
Northwind.Products.API/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
Northwind.Products.API/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
Northwind.Products.API/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Northwind.Products.API/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
Northwind.Products.API/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
Northwind.Products.API/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
Northwind.Products.API/bin/Debug/net5.0/System.Runtime.Caching.dll
Northwind.Products.API/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
Northwind.Products.Data/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Northwind.Products.Data/obj/Debug/net5.0/Northwind.Products.Data.AssemblyInfo.cs
Northwind.Products.Data/obj/Debug/net5.0/Northwind.Products.Data.AssemblyInfoInputs.cache
Northwind.Products.Data/obj/Debug/net5.0/Northwind.Products.Data.assets.cache
Northwind.Products.Data/obj/Debug/net5.0/Northwind.Products.Data.csproj.AssemblyReference.cache
Northwind.Products.Data/obj/Debug/net5.0/Northwind.Products.Data.GeneratedMSBuildEditorConfig.editorconfig
Northwind.Products.Data/obj/Debug/net5.0/Northwind.Products.Domain.AssemblyInfo.cs
Northwind.Products.Data/obj/Debug/net5.0/Northwind.Products.Domain.AssemblyInfoInputs.cache
Northwind.Products.Data/obj/Debug/net5.0/Northwind.Products.Domain.assets.cache
Northwind.Products.Data/obj/Debug/net5.0/Northwind.Products.Domain.csproj.AssemblyReference.cache
Northwind.Products.Data/obj/Debug/net5.0/Northwind.Products.Domain.csproj.CoreCompileInputs.cache
Northwind.Products.Data/obj/Debug/net5.0/Northwind.Products.Domain.csproj.FileListAbsolute.txt
Northwind.Products.Data/obj/Debug/net5.0/Northwind.Products.Domain.dll
Northwind.Products.Data/obj/Debug/net5.0/Northwind.Products.Domain.GeneratedMSBuildEditorConfig.editorconfig
Northwind.Products.Data/obj/Debug/net5.0/Northwind.Products.Domain.genruntimeconfig.cache
Northwind.Products.Data/obj/Debug/net5.0/Northwind.Products.Domain.pdb
Northwind.Products.Data/obj/Debug/net5.0/ref/Northwind.Products.Domain.dll
Northwind.Products.Data/obj/Northwind.Products.Data.csproj.nuget.dgspec.json
Northwind.Products.Data/obj/Northwind.Products.Data.csproj.nuget.g.props
Northwind.Products.Data/obj/Northwind.Products.Data.csproj.nuget.g.targets
Northwind.Products.Data/obj/Northwind.Products.Domain.csproj.nuget.dgspec.json
Northwind.Products.Data/obj/Northwind.Products.Domain.csproj.nuget.g.props
Northwind.Products.Data/obj/Northwind.Products.Domain.csproj.nuget.g.targets
Northwind.Products.Data/obj/project.assets.json
Northwind.Products.Data/obj/project.nuget.cache
Northwind.Products.Service/bin/Debug/net5.0/Northwind.Products.Domain.dll
Northwind.Products.Service/bin/Debug/net5.0/Northwind.Products.Domain.pdb
Northwind.Products.Service/bin/Debug/net5.0/Northwind.Products.Service.deps.json
Northwind.Products.Service/bin/Debug/net5.0/Northwind.Products.Service.dll
Northwind.Products.Service/bin/Debug/net5.0/Northwind.Products.Service.pdb
Northwind.Products.Service/bin/Debug/net5.0/ref/Northwind.Products.Service.dll
Northwind.Web/bin/Debug/net5.0/appsettings.Development.json
Northwind.Web/bin/Debug/net5.0/appsettings.json
Northwind.Web/bin/Debug/net5.0/Northwind.Web.deps.json
Northwind.Web/bin/Debug/net5.0/Northwind.Web.dll
Northwind.Web/bin/Debug/net5.0/Northwind.Web.exe
Northwind.Web/bin/Debug/net5.0/Northwind.Web.pdb
Northwind.Web/bin/Debug/net5.0/Northwind.Web.runtimeconfig.dev.json
Northwind.Web/bin/Debug/net5.0/Northwind.Web.runtimeconfig.json
Northwind.Web/bin/Debug/net5.0/Northwind.Web.StaticWebAssets.xml
Northwind.Web/bin/Debug/net5.0/Northwind.Web.Views.dll
Northwind.Web/bin/Debug/net5.0/Northwind.Web.Views.pdb
Northwind.Web/bin/Debug/net5.0/ref/Northwind.Web.dll
Northwind.Web/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Northwind.Web/obj/Debug/net5.0/apphost.exe
Northwind.Web/obj/Debug/net5.0/Northwind.Web.AssemblyInfo.cs
Northwind.Web/obj/Debug/net5.0/Northwind.Web.AssemblyInfoInputs.cache
Northwind.Web/obj/Debug/net5.0/Northwind.Web.assets.cache
Northwind.Web/obj/Debug/net5.0/Northwind.Web.csproj.AssemblyReference.cache
Northwind.Web/obj/Debug/net5.0/Northwind.Web.csproj.CopyComplete
Northwind.Web/obj/Debug/net5.0/Northwind.Web.csproj.CoreCompileInputs.cache
Northwind.Web/obj/Debug/net5.0/Northwind.Web.csproj.FileListAbsolute.txt
Northwind.Web/obj/Debug/net5.0/Northwind.Web.dll
Northwind.Web/obj/Debug/net5.0/Northwind.Web.GeneratedMSBuildEditorConfig.editorconfig
Northwind.Web/obj/Debug/net5.0/Northwind.Web.genruntimeconfig.cache
Northwind.Web/obj/Debug/net5.0/Northwind.Web.MvcApplicationPartsAssemblyInfo.cache
Northwind.Web/obj/Debug/net5.0/Northwind.Web.pdb
Northwind.Web/obj/Debug/net5.0/Northwind.Web.RazorAssemblyInfo.cache
Northwind.Web/obj/Debug/net5.0/Northwind.Web.RazorAssemblyInfo.cs
Northwind.Web/obj/Debug/net5.0/Northwind.Web.RazorComponent.input.cache
Northwind.Web/obj/Debug/net5.0/Northwind.Web.RazorComponent.output.cache
Northwind.Web/obj/Debug/net5.0/Northwind.Web.RazorCoreGenerate.cache
Northwind.Web/obj/Debug/net5.0/Northwind.Web.RazorTargetAssemblyInfo.cache
Northwind.Web/obj/Debug/net5.0/Northwind.Web.RazorTargetAssemblyInfo.cs
Northwind.Web/obj/Debug/net5.0/Northwind.Web.TagHelpers.input.cache
Northwind.Web/obj/Debug/net5.0/Northwind.Web.TagHelpers.output.cache
Northwind.Web/obj/Debug/net5.0/Northwind.Web.Views.dll
Northwind.Web/obj/Debug/net5.0/Northwind.Web.Views.pdb
Northwind.Web/obj/Debug/net5.0/Razor/_Imports.razor.g.cs
Northwind.Web/obj/Debug/net5.0/Razor/App.razor.g.cs
Northwind.Web/obj/Debug/net5.0/Razor/Pages/_Host.cshtml.g.cs
Northwind.Web/obj/Debug/net5.0/Razor/Pages/Error.cshtml.g.cs
Northwind.Web/obj/Debug/net5.0/Razor/Pages/Index.razor.g.cs
Northwind.Web/obj/Debug/net5.0/Razor/Pages/Products.razor.g.cs
Northwind.Web/obj/Debug/net5.0/Razor/Shared/MainLayout.razor.g.cs
Northwind.Web/obj/Debug/net5.0/Razor/Shared/NavMenu.razor.g.cs
Northwind.Web/obj/Debug/net5.0/RazorDeclaration/_Imports.razor.g.cs
Northwind.Web/obj/Debug/net5.0/RazorDeclaration/App.razor.g.cs
Northwind.Web/obj/Debug/net5.0/RazorDeclaration/Northwind.Web.dll
Northwind.Web/obj/Debug/net5.0/RazorDeclaration/Northwind.Web.pdb
Northwind.Web/obj/Debug/net5.0/RazorDeclaration/Pages/Counter.razor.g.cs
Northwind.Web/obj/Debug/net5.0/RazorDeclaration/Pages/FetchData.razor.g.cs
Northwind.Web/obj/Debug/net5.0/RazorDeclaration/Pages/Index.razor.g.cs
Northwind.Web/obj/Debug/net5.0/RazorDeclaration/Pages/Products.razor.g.cs
Northwind.Web/obj/Debug/net5.0/RazorDeclaration/Shared/MainLayout.razor.g.cs
Northwind.Web/obj/Debug/net5.0/RazorDeclaration/Shared/NavMenu.razor.g.cs
Northwind.Web/obj/Debug/net5.0/RazorDeclaration/Shared/SurveyPrompt.razor.g.cs
Northwind.Web/obj/Debug/net5.0/ref/Northwind.Web.dll
Northwind.Web/obj/Debug/net5.0/scopedcss/bundle/Northwind.Web.styles.css
Northwind.Web/obj/Debug/net5.0/scopedcss/projectbundle/Northwind.Web.bundle.scp.css
Northwind.Web/obj/Debug/net5.0/scopedcss/Shared/MainLayout.razor.rz.scp.css
Northwind.Web/obj/Debug/net5.0/scopedcss/Shared/NavMenu.razor.rz.scp.css
Northwind.Web/obj/Debug/net5.0/staticwebassets/Northwind.Web.StaticWebAssets.Manifest.cache
Northwind.Web/obj/Debug/net5.0/staticwebassets/Northwind.Web.StaticWebAssets.xml
Northwind.Web/obj/Northwind.Web.csproj.nuget.dgspec.json
Northwind.Web/obj/Northwind.Web.csproj.nuget.g.props
Northwind.Web/obj/Northwind.Web.csproj.nuget.g.targets
Northwind.Web/obj/project.assets.json
Northwind.Web/obj/project.nuget.cache
Northwind.Gateway.API/bin/Debug/net5.0/FluentValidation.dll
Northwind.Gateway.API/bin/Debug/net5.0/Microsoft.AspNetCore.JsonPatch.dll
Northwind.Gateway.API/bin/Debug/net5.0/Microsoft.AspNetCore.MiddlewareAnalysis.dll
Northwind.Gateway.API/bin/Debug/net5.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
Northwind.Gateway.API/bin/Debug/net5.0/Microsoft.Extensions.DiagnosticAdapter.dll
Northwind.Gateway.API/bin/Debug/net5.0/Newtonsoft.Json.Bson.dll
Northwind.Gateway.API/bin/Debug/net5.0/Newtonsoft.Json.dll
Northwind.Gateway.API/bin/Debug/net5.0/Northwind.Gateway.API.deps.json
Northwind.Gateway.API/bin/Debug/net5.0/Northwind.Gateway.API.dll
Northwind.Gateway.API/bin/Debug/net5.0/Northwind.Gateway.API.exe
Northwind.Gateway.API/bin/Debug/net5.0/Northwind.Gateway.API.pdb
Northwind.Gateway.API/bin/Debug/net5.0/Northwind.Gateway.API.runtimeconfig.dev.json
Northwind.Gateway.API/bin/Debug/net5.0/Northwind.Gateway.API.runtimeconfig.json
Northwind.Gateway.API/bin/Debug/net5.0/Ocelot.dll
Northwind.Gateway.API/bin/Debug/net5.0/ocelot.json
Northwind.Gateway.API/bin/Debug/net5.0/ref/Northwind.Gateway.API.dll
Northwind.Gateway.API/obj/Debug/net5.0/Northwind.Gateway.API.assets.cache
Northwind.Gateway.API/obj/Debug/net5.0/Northwind.Gateway.API.csproj.AssemblyReference.cache
Northwind.Gateway.API/obj/Debug/net5.0/Northwind.Gateway.API.csproj.CopyComplete
Northwind.Gateway.API/obj/Debug/net5.0/Northwind.Gateway.API.csproj.CoreCompileInputs.cache
Northwind.Gateway.API/obj/Debug/net5.0/Northwind.Gateway.API.csproj.FileListAbsolute.txt
Northwind.Gateway.API/obj/Debug/net5.0/Northwind.Gateway.API.dll
Northwind.Gateway.API/obj/Debug/net5.0/Northwind.Gateway.API.GeneratedMSBuildEditorConfig.editorconfig
Northwind.Gateway.API/obj/Debug/net5.0/Northwind.Gateway.API.genruntimeconfig.cache
Northwind.Gateway.API/obj/Debug/net5.0/Northwind.Gateway.API.MvcApplicationPartsAssemblyInfo.cache
Northwind.Gateway.API/obj/Debug/net5.0/Northwind.Gateway.API.MvcApplicationPartsAssemblyInfo.cs
Northwind.Gateway.API/obj/Debug/net5.0/Northwind.Gateway.API.pdb
Northwind.Gateway.API/obj/Debug/net5.0/Northwind.Gateway.API.RazorAssemblyInfo.cache
Northwind.Gateway.API/obj/Debug/net5.0/Northwind.Gateway.API.RazorAssemblyInfo.cs
Northwind.Gateway.API/obj/Debug/net5.0/Northwind.Gateway.API.RazorTargetAssemblyInfo.cache
Northwind.Gateway.API/obj/Debug/net5.0/ref/Northwind.Gateway.API.dll
Northwind.Gateway.API/obj/Debug/net5.0/staticwebassets/Northwind.Gateway.API.StaticWebAssets.Manifest.cache
Northwind.Gateway.API/obj/Debug/net5.0/staticwebassets/Northwind.Gateway.API.StaticWebAssets.xml
Northwind.Gateway.API/obj/Northwind.Gateway.API.csproj.nuget.dgspec.json
Northwind.Gateway.API/obj/Northwind.Gateway.API.csproj.nuget.g.props
Northwind.Gateway.API/obj/Northwind.Gateway.API.csproj.nuget.g.targets
Northwind.Gateway.API/obj/project.assets.json
Northwind.Gateway.API/obj/project.nuget.cache
Northwind.Gateway.API/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Northwind.Gateway.API/obj/Debug/net5.0/apphost.exe
Northwind.Gateway.API/obj/Debug/net5.0/Northwind.Gateway.API.AssemblyInfo.cs
Northwind.Gateway.API/obj/Debug/net5.0/Northwind.Gateway.API.AssemblyInfoInputs.cache
Northwind.Products.API/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Northwind.Products.API/obj/Debug/net5.0/apphost.exe
Northwind.Products.API/obj/Debug/net5.0/Northwind.Products.API.AssemblyInfo.cs
Northwind.Products.API/obj/Debug/net5.0/Northwind.Products.API.AssemblyInfoInputs.cache
Northwind.Products.API/obj/Debug/net5.0/Northwind.Products.API.assets.cache
Northwind.Products.API/obj/Debug/net5.0/Northwind.Products.API.csproj.AssemblyReference.cache
Northwind.Products.API/obj/Debug/net5.0/Northwind.Products.API.csproj.CopyComplete
Northwind.Products.API/obj/Debug/net5.0/Northwind.Products.API.csproj.CoreCompileInputs.cache
Northwind.Products.API/obj/Debug/net5.0/Northwind.Products.API.csproj.FileListAbsolute.txt
Northwind.Products.API/obj/Debug/net5.0/Northwind.Products.API.dll
Northwind.Products.API/obj/Debug/net5.0/Northwind.Products.API.GeneratedMSBuildEditorConfig.editorconfig
Northwind.Products.API/obj/Debug/net5.0/Northwind.Products.API.genruntimeconfig.cache
Northwind.Products.API/obj/Debug/net5.0/Northwind.Products.API.MvcApplicationPartsAssemblyInfo.cache
Northwind.Products.API/obj/Debug/net5.0/Northwind.Products.API.pdb
Northwind.Products.API/obj/Debug/net5.0/Northwind.Products.API.RazorTargetAssemblyInfo.cache
Northwind.Products.API/obj/Debug/net5.0/Northwind.Products.API.Views.dll
Northwind.Products.API/obj/Debug/net5.0/ref/Northwind.Products.API.dll
Northwind.Products.API/obj/Debug/net5.0/staticwebassets/Northwind.Products.API.StaticWebAssets.Manifest.cache
Northwind.Products.API/obj/Debug/net5.0/staticwebassets/Northwind.Products.API.StaticWebAssets.xml
Northwind.Products.API/obj/Northwind.Products.API.csproj.nuget.dgspec.json
Northwind.Products.API/obj/Northwind.Products.API.csproj.nuget.g.props
Northwind.Products.API/obj/Northwind.Products.API.csproj.nuget.g.targets
Northwind.Products.API/obj/project.assets.json
Northwind.Products.API/obj/project.nuget.cache
Northwind.Products.Service/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Northwind.Products.Service/obj/Debug/net5.0/Northwind.Products.Service.AssemblyInfo.cs
Northwind.Products.Service/obj/Debug/net5.0/Northwind.Products.Service.AssemblyInfoInputs.cache
Northwind.Products.Service/obj/Debug/net5.0/Northwind.Products.Service.assets.cache
Northwind.Products.Service/obj/Debug/net5.0/Northwind.Products.Service.csproj.AssemblyReference.cache
Northwind.Products.Service/obj/Debug/net5.0/Northwind.Products.Service.csproj.CopyComplete
Northwind.Products.Service/obj/Debug/net5.0/Northwind.Products.Service.csproj.CoreCompileInputs.cache
Northwind.Products.Service/obj/Debug/net5.0/Northwind.Products.Service.csproj.FileListAbsolute.txt
Northwind.Products.Service/obj/Debug/net5.0/Northwind.Products.Service.dll
Northwind.Products.Service/obj/Debug/net5.0/Northwind.Products.Service.GeneratedMSBuildEditorConfig.editorconfig
Northwind.Products.Service/obj/Debug/net5.0/Northwind.Products.Service.pdb
Northwind.Products.Service/obj/Debug/net5.0/ref/Northwind.Products.Service.dll
Northwind.Products.Service/obj/Northwind.Products.Service.csproj.nuget.dgspec.json
Northwind.Products.Service/obj/Northwind.Products.Service.csproj.nuget.g.props
Northwind.Products.Service/obj/Northwind.Products.Service.csproj.nuget.g.targets
Northwind.Products.Service/obj/project.assets.json
Northwind.Products.Service/obj/project.nuget.cache
Northwind.Products.Data/bin/Debug/net5.0/Northwind.Products.Domain.deps.json
Northwind.Products.Data/bin/Debug/net5.0/Northwind.Products.Domain.dll
Northwind.Products.Data/bin/Debug/net5.0/Northwind.Products.Domain.pdb
Northwind.Products.Data/bin/Debug/net5.0/Northwind.Products.Domain.runtimeconfig.dev.json
Northwind.Products.Data/bin/Debug/net5.0/Northwind.Products.Domain.runtimeconfig.json
Northwind.Products.Data/bin/Debug/net5.0/ref/Northwind.Products.Domain.dll
